<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/favicon-icon.png" type="image/x-icon" />
    <link href="style.css" rel="stylesheet" />
    <script src="script.js"></script>
    <script src="script.js"></script>
    <title>Open Minder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500&family=Edu+TAS+Beginner:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="main-header-container">
        <img class="main-img" src="../../img/open-minder-logo.png" />
        <div class="main-search-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="main-search-logo"
            viewBox="0 0 256 256"
          >
            <path
              d="M228.24,219.76l-51.38-51.38a86.15,86.15,0,1,0-8.48,8.48l51.38,51.38a6,6,0,0,0,8.48-8.48ZM38,112a74,74,0,1,1,74,74A74.09,74.09,0,0,1,38,112Z"
            ></path>
          </svg>
          <input
            class="main-search"
            type="text"
            name="main-search"
            placeholder="Search"
          />
        </div>
      </div>
      <div class="secondary-header-container">
        <ul class="secondary-link-container">
          <li>
            <a href="#" class="secondary-link-item"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="write-logo"
                width="24"
                height="24"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M224.49,76.2,179.8,31.51a12,12,0,0,0-17,0L133.17,61.17h0L39.52,154.83A11.9,11.9,0,0,0,36,163.31V208a12,12,0,0,0,12,12H92.69a12,12,0,0,0,8.48-3.51L224.48,93.17a12,12,0,0,0,0-17Zm-129,134.63A4,4,0,0,1,92.69,212H48a4,4,0,0,1-4-4V163.31a4,4,0,0,1,1.17-2.83L136,69.65,186.34,120ZM218.83,87.51,192,114.34,141.66,64l26.82-26.83a4,4,0,0,1,5.66,0l44.69,44.68a4,4,0,0,1,0,5.66Z"
                ></path>
              </svg>
              <p>Write</p></a
            >
          </li>
          <li>
            <a href="#" class="secondary-link-item special-secondary-link-item"
              >Sign up</a
            >
          </li>
          <li><a href="#" class="secondary-link-item">Sign In</a></li>
        </ul>
      </div>
    </header>
    <!-- Hero Section -->
    <section class="hero-section">
      <div>
        <p class="hero-section-quote">Beyond Boundaries : Open Minder</p>
        <p class="hero-section-headline">
          Stories, Thinking, and Expertise from Every Corner
        </p>
        <a class="hero-section-start-reading-button" href="#">Start Reading</a>
      </div>
    </section>
    <main>
      <!-- Trending Section -->
      <section class="trending-home">
        <div class="trending-home-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="trending-home-trending-icon"
            viewBox="0 0 256 256"
          >
            <path
              d="M244,56v64a12,12,0,0,1-24,0V85l-75.51,75.52a12,12,0,0,1-17,0L96,129,32.49,192.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0L136,135l67-67H168a12,12,0,0,1,0-24h64A12,12,0,0,1,244,56Z"
            ></path>
          </svg>
          <p>Trending on Open Minder</p>
        </div>
        <div class="trending-home-content-grid">
          <div class="trending-home-element">
            <div class="trending-home-element-flex">
              <div class="trending-home-element-flex-number">
                <p>01</p>
              </div>
              <div>
                <p>
                  <a href="#" class="trending-home-element-flex-creator-name">
                    Minko Gechev
                  </a>
                </p>
                <p>
                  <a
                    href="../blogTemplate/blogTemplate.html"
                    class="trending-home-element-flex-blog"
                  >
                    Introducing Angular v17
                  </a>
                </p>
                <div class="trending-home-element-sub-flex">
                  <p class="trending-home-element-sub-date">Nov 8</p>
                  <p class="trending-home-element-sub-read-time">17 min read</p>
                </div>
              </div>
            </div>
          </div>
          <div class="trending-home-element">
            <div class="trending-home-element-flex">
              <div class="trending-home-element-flex-number">
                <p>01</p>
              </div>
              <div>
                <p>
                  <a href="#" class="trending-home-element-flex-creator-name">
                    Minko Gechev
                  </a>
                </p>
                <p>
                  <a href="#" class="trending-home-element-flex-blog">
                    Introducing Angular v17
                  </a>
                </p>
                <div class="trending-home-element-sub-flex">
                  <p class="trending-home-element-sub-date">Nov 8</p>
                  <p class="trending-home-element-sub-read-time">17 min read</p>
                </div>
              </div>
            </div>
          </div>
          <div class="trending-home-element">
            <div class="trending-home-element-flex">
              <div class="trending-home-element-flex-number">
                <p>01</p>
              </div>
              <div>
                <p>
                  <a href="#" class="trending-home-element-flex-creator-name">
                    Minko Gechev
                  </a>
                </p>
                <p>
                  <a href="#" class="trending-home-element-flex-blog">
                    Introducing Angular v17
                  </a>
                </p>
                <div class="trending-home-element-sub-flex">
                  <p class="trending-home-element-sub-date">Nov 8</p>
                  <p class="trending-home-element-sub-read-time">17 min read</p>
                </div>
              </div>
            </div>
          </div>
          <div class="trending-home-element">
            <div class="trending-home-element-flex">
              <div class="trending-home-element-flex-number">
                <p>01</p>
              </div>
              <div>
                <p>
                  <a href="#" class="trending-home-element-flex-creator-name">
                    Minko Gechev
                  </a>
                </p>
                <p>
                  <a href="#" class="trending-home-element-flex-blog">
                    Introducing Angular v17
                  </a>
                </p>
                <div class="trending-home-element-sub-flex">
                  <p class="trending-home-element-sub-date">Nov 8</p>
                  <p class="trending-home-element-sub-read-time">17 min read</p>
                </div>
              </div>
            </div>
          </div>
          <div class="trending-home-element">
            <div class="trending-home-element-flex">
              <div class="trending-home-element-flex-number">
                <p>01</p>
              </div>
              <div>
                <p>
                  <a href="#" class="trending-home-element-flex-creator-name">
                    Minko Gechev
                  </a>
                </p>
                <p>
                  <a href="#" class="trending-home-element-flex-blog">
                    Introducing Angular v17
                  </a>
                </p>
                <div class="trending-home-element-sub-flex">
                  <p class="trending-home-element-sub-date">Nov 8</p>
                  <p class="trending-home-element-sub-read-time">17 min read</p>
                </div>
              </div>
            </div>
          </div>
          <div class="trending-home-element">
            <div class="trending-home-element-flex">
              <div class="trending-home-element-flex-number">
                <p>01</p>
              </div>
              <div>
                <p>
                  <a href="#" class="trending-home-element-flex-creator-name">
                    Minko Gechev
                  </a>
                </p>
                <p>
                  <a href="#" class="trending-home-element-flex-blog">
                    Introducing Angular v17
                  </a>
                </p>
                <div class="trending-home-element-sub-flex">
                  <p class="trending-home-element-sub-date">Nov 8</p>
                  <p class="trending-home-element-sub-read-time">17 min read</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Article section  -->
      <section class="article-section">
        <div class="article-container">
          <!-- Article -->
          <div class="article">
            <div class="article-main-text">
              <p>
                <a href="#" class="trending-home-element-flex-creator-name"
                  >George Turner</a
                >
              </p>
              <a>
                <p>
                  <a href="#" class="article-blog-headline">
                    In a second, my life changed.
                  </a>
                </p>
                <p>
                  <a href="#" class="article-text"
                    >Within the last year, I have been in hospital for 6
                    months.</a
                  >
                </p>
              </a>
              <div class="article-sub-flex">
                <p>Nov 5</p>
                <p>5 min read</p>
              </div>
            </div>
            <div class="article-img">
              <a href="#"
                ><img class="article-blog-img" src="../../img/local-img-1.jpg"
              /></a>
            </div>
          </div>
          <div class="article">
            <div class="article-main-text">
              <p>
                <a href="#" class="trending-home-element-flex-creator-name"
                  >George Turner</a
                >
              </p>
              <a>
                <p>
                  <a href="#" class="article-blog-headline">
                    In a second, my life changed.
                  </a>
                </p>
                <p>
                  <a href="#" class="article-text"
                    >Within the last year, I have been in hospital for 6
                    months.</a
                  >
                </p>
              </a>
              <div class="article-sub-flex">
                <p>Nov 5</p>
                <p>5 min read</p>
              </div>
            </div>
            <div class="article-img">
              <a href="#"
                ><img class="article-blog-img" src="../../img/local-img-1.jpg"
              /></a>
            </div>
          </div>
          <div class="article">
            <div class="article-main-text">
              <p>
                <a href="#" class="trending-home-element-flex-creator-name"
                  >George Turner</a
                >
              </p>
              <a>
                <p>
                  <a href="#" class="article-blog-headline">
                    In a second, my life changed.
                  </a>
                </p>
                <p>
                  <a href="#" class="article-text"
                    >Within the last year, I have been in hospital for 6
                    months.</a
                  >
                </p>
              </a>
              <div class="article-sub-flex">
                <p>Nov 5</p>
                <p>5 min read</p>
              </div>
            </div>
            <div class="article-img">
              <a href="#"
                ><img class="article-blog-img" src="../../img/local-img-1.jpg"
              /></a>
            </div>
          </div>
          <div class="article">
            <div class="article-main-text">
              <p>
                <a href="#" class="trending-home-element-flex-creator-name"
                  >George Turner</a
                >
              </p>
              <a>
                <p>
                  <a href="#" class="article-blog-headline">
                    In a second, my life changed.
                  </a>
                </p>
                <p>
                  <a href="#" class="article-text"
                    >Within the last year, I have been in hospital for 6
                    months.</a
                  >
                </p>
              </a>
              <div class="article-sub-flex">
                <p>Nov 5</p>
                <p>5 min read</p>
              </div>
            </div>
            <div class="article-img">
              <a href="#"
                ><img class="article-blog-img" src="../../img/local-img-1.jpg"
              /></a>
            </div>
          </div>
          <div class="article">
            <div class="article-main-text">
              <p>
                <a href="#" class="trending-home-element-flex-creator-name"
                  >George Turner</a
                >
              </p>
              <a>
                <p>
                  <a href="#" class="article-blog-headline">
                    In a second, my life changed.
                  </a>
                </p>
                <p>
                  <a href="#" class="article-text"
                    >Within the last year, I have been in hospital for 6
                    months.</a
                  >
                </p>
              </a>
              <div class="article-sub-flex">
                <p>Nov 5</p>
                <p>5 min read</p>
              </div>
            </div>
            <div class="article-img">
              <a href="#"
                ><img class="article-blog-img" src="../../img/local-img-1.jpg"
              /></a>
            </div>
          </div>
          <div class="article">
            <div class="article-main-text">
              <p>
                <a href="#" class="trending-home-element-flex-creator-name"
                  >George Turner</a
                >
              </p>
              <a>
                <p>
                  <a href="#" class="article-blog-headline">
                    In a second, my life changed.
                  </a>
                </p>
                <p>
                  <a href="#" class="article-text"
                    >Within the last year, I have been in hospital for 6
                    months.</a
                  >
                </p>
              </a>
              <div class="article-sub-flex">
                <p>Nov 5</p>
                <p>5 min read</p>
              </div>
            </div>
            <div class="article-img">
              <a href="#"
                ><img class="article-blog-img" src="../../img/local-img-1.jpg"
              /></a>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="more-articles-section">
            <p class="more-articles-section-header">Discover More</p>
            <div class="more-articles-section-links">
              <a href="#">Programming</a>
              <a href="#">Data Science</a>
              <a href="#">Writing</a>
              <a href="#">Technology</a>
              <a href="#">Self Improvement</a>
              <a href="#">Politics</a>
              <a href="#">Relationships</a>
              <a href="#">Machine Learning</a>
              <a href="#">Productivity</a>
            </div>
            <a href="#" class="more-articles-section-topics">See more topics</a>
          </div>
          <img
            class="open-minder-gif"
            src="../../gif/open-minder-gif-logo.gif"
          />
        </div>
      </section>
    </main>
  </body>
</html>
