<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/favicon-icon.png" type="image/x-icon" />
    <link href="style.css" rel="stylesheet" />
    <script src="script.js"></script>
    <title>Open Minder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Edu+TAS+Beginner:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="main-header-container">
        <img class="main-img" src="../../img/open-minder-logo.png" />
        <div class="main-search-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="main-search-logo"
            viewBox="0 0 256 256"
          >
            <path
              d="M228.24,219.76l-51.38-51.38a86.15,86.15,0,1,0-8.48,8.48l51.38,51.38a6,6,0,0,0,8.48-8.48ZM38,112a74,74,0,1,1,74,74A74.09,74.09,0,0,1,38,112Z"
            ></path>
          </svg>
          <input
            class="main-search"
            type="text"
            name="main-search"
            placeholder="Search"
          />
        </div>
      </div>
      <div class="secondary-header-container">
        <ul class="secondary-link-container">
          <li>
            <a href="#" class="secondary-link-item"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="write-logo"
                width="24"
                height="24"
                fill="#000000"
                viewBox="0 0 256 256"
              >
                <path
                  d="M224.49,76.2,179.8,31.51a12,12,0,0,0-17,0L133.17,61.17h0L39.52,154.83A11.9,11.9,0,0,0,36,163.31V208a12,12,0,0,0,12,12H92.69a12,12,0,0,0,8.48-3.51L224.48,93.17a12,12,0,0,0,0-17Zm-129,134.63A4,4,0,0,1,92.69,212H48a4,4,0,0,1-4-4V163.31a4,4,0,0,1,1.17-2.83L136,69.65,186.34,120ZM218.83,87.51,192,114.34,141.66,64l26.82-26.83a4,4,0,0,1,5.66,0l44.69,44.68a4,4,0,0,1,0,5.66Z"
                ></path>
              </svg>
              <p>Write</p></a
            >
          </li>
          <li>
            <a href="#" class="secondary-link-item special-secondary-link-item"
              >Sign up</a
            >
          </li>
          <li><a href="#" class="secondary-link-item">Sign In</a></li>
        </ul>
      </div>
    </header>
    <div class="main-navigation">
      <nav>
        <ul class="main-header-link-container">
          <li><a class="main-header-link-item" href="#">Trending</a></li>
          <li><a class="main-header-link-item" href="#">Tech</a></li>
          <li><a class="main-header-link-item" href="#">Streaming</a></li>
          <li><a class="main-header-link-item" href="#">Science</a></li>
          <li><a class="main-header-link-item" href="#">Space</a></li>
          <li><a class="main-header-link-item" href="#">Health</a></li>
          <li><a class="main-header-link-item" href="#">Education</a></li>
          <li><a class="main-header-link-item" href="#">Style</a></li>
          <li><a class="main-header-link-item" href="#">Beauty</a></li>
          <li><a class="main-header-link-item" href="#">Deals</a></li>
          <li><a class="main-header-link-item" href="#">More</a></li>
        </ul>
      </nav>
    </div>
    <main class="main-blog-container">
      <div>
        <!-- AD container 1 -->
      </div>
      <div class="blog-container">
        <p class="blog-date">10-11-23</p>
        <p class="blog-heading">
          The girlboss lost. Here’s why these under-the-radar female founders
          won
        </p>
        <p class="blog-description">
          In a startup culture rife with misogyny, developing a cult of
          personality as a female founder was good for business—until it wasn’t.
          Did these other founders fare better because they weren’t as public?
        </p>
        <img class="blog-main-img" src="../../img/main-img.jpeg" />
        <p class="blog-main-img-description">
          [Photos: FreshSplash/Getty Images, AlexSecret/Getty Images]
        </p>
        <div class="blog-body">
          <div class="icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="blog-body-icon-item"
              viewBox="0 0 256 256"
            >
              <path
                d="M236.24,107.76l-80-80A6,6,0,0,0,146,32V74.2c-54.48,3.59-120.39,55-127.93,120.66a10,10,0,0,0,17.23,8h0C46.56,190.85,87,152.6,146,150.13V192a6,6,0,0,0,10.24,4.24l80-80A6,6,0,0,0,236.24,107.76ZM158,177.52V144a6,6,0,0,0-6-6c-27.73,0-54.76,7.25-80.32,21.55a193.38,193.38,0,0,0-40.81,30.65c4.7-26.56,20.16-52,44-72.27C98.47,97.94,127.29,86,152,86a6,6,0,0,0,6-6V46.49L223.51,112Z"
              ></path>
            </svg>
          </div>
          <div>
            <div class="blog-info">
              <p class="blog-creator-name">
                BY <a href="#">ELIZABETH SEGRAN</a>
              </p>
              <p class="blog-read-time">8 MINUTE READ</p>
            </div>
            <div class="blog-content">
              <p>
                The reign of the girlboss is over. Just ask <a>Ty Haney</a> of
                Outdoor Voices, <a>Yael Aflalo</a> of Reformation, Audrey Gelman
                of The Wing, and Steph Korey of Away.
              </p>
              <p>
                These millennial founders of fast-growing, venture-backed
                startups were all, at one point or another, described as
                “girlbosses.” But one by one, they’ve left their companies,
                often in a shroud of bad press about their poor management
                skills. Emily Weiss was arguably the last one standing. But even
                her reputation is under attack. In a new tell-all book Glossy:
                Ambition, Beauty, and the Inside Story of Emily Weiss’s
                Glossier, writer Marisa Meltzer peppers the narrative with
                unflattering details about her privileged background and
                mercurial leadership style.
              </p>
              <p>
                It wasn’t always like this. When Sophia Amoruso popularized the
                word in her 2014 memoir, #Girlboss, it was meant to be a term of
                empowerment. Her hope was to inspire young women to launch
                startups at a time when most founders were men. In the years
                that followed, a cadre of female entrepreneurs arose, building
                groundbreaking businesses—along with a cult of personality. They
                appeared on the covers of business magazines, spoke at big
                conferences, and garnered large followings on social media.
              </p>
              <img src="../../img/local-img-1.jpg" />
              <aside>[Source Photo: Cindy Ord/Getty Images]</aside>
              <p>
                But being a highly visible female founder turned out to be a
                double-edged sword. It could help accelerate the brand’s growth,
                but it could also be weaponized, leaving these women open to
                attacks that male founders rarely face. It began with Amoruso
                herself, who left Nasty Gal in 2017 in the midst of bankruptcy.
                The others left the businesses they founded in the years that
                followed.
              </p>
              <p>
                A story that isn’t often told is that there were many other
                female founders from the same period who chose a less public
                path as they built venture-backed startups. They include Gregg
                Renfrew, whose brand, Beautycounter, was acquired for $1 billion
                in 2021 after eight years. There’s also Sali Christeson, who
                launched the suiting label Argent; the three founders of the bag
                startup Dagne Dover; the cofounders of Cuyana, a minimalist,
                sustainable womenswear brand; Katerina Schneider of the
                supplement brand Ritual; and many more.
              </p>
              <p>
                These founders aren’t household names, and being more private
                has sometimes made it harder for them to land venture funding or
                garner attention in press. But it has also spared them some of
                the arrows flung at their more prominent counterparts.
                Ultimately, all the women I interviewed argued that the first
                generation of girl bosses helped create a path for female
                entrepreneurs, but the next generation of founders shouldn’t
                feel compelled to follow their playbook. “Yes, the girlbosses
                came under attack, but they also proved that they could build
                successful businesses,” says Renfrew. “Now we need to figure out
                what the next iteration of female leadership is going to be.”
              </p>
              <p>
                THE MAKING OF THE GIRLBOSS MOVEMENT All the female founders I
                interviewed for this piece don’t want to be associated with the
                term “girlboss.” “‘Girlboss’ has become such a pejorative,” says
                Christeson, who founded Argent in 2015. “But what Sophia was
                trying to do was to create a hack for women who wanted to
                survive in the patriarchy.”
              </p>
              <p>
                The so-called girlbosses that emerged in the mid-2010s created
                women-centric, millennial-oriented startups and used their own
                personalities to help boost the business during a moment when
                female founders were far from the norm. Today, only 10% of
                Fortune 500 companies have female CEOs, even though women make
                up 47% of the workforce. Female founders only get 2% of venture
                capital. (And, tellingly, if a woman cofounds a company with a
                man, her odds of getting funding increases to 16%.)
              </p>
              <p>
                Most male founders of the same era didn’t feel the need to build
                public-facing personas. The founders of Warby Parker, Allbirds,
                WeWork, and Everlane, for instance, generally don’t have a
                substantial social media presence. We don’t know what their
                spouses or children look like. They are unlikely to share their
                skincare regimen or mention their personal insecurities or
                troubles on social media. “I think consumers want authenticity
                and like to see the face behind the brand,” says Christeson.
                “But we demand so much more from women: we feel entitled to see
                them as moms, we want to see their outfits. It says something
                that men don’t feel that they need to put themselves out there
                for their brand to succeed.”
              </p>
              <p>
                Some founders were particularly adept at leveraging social media
                to build their personal brands, including Weiss, Gelman, and
                Amoruso. Others used traditional media to put themselves out
                into the world. Korey, for instance, appeared on the cover of
                Forbes and Inc., and spoke frequently on panels.
              </p>
              <p>
                But in the background, there were many other female founders who
                didn’t garner as much attention. It wasn’t always by design. In
                her book, Meltzer points out that there was a level of privilege
                to being a girlboss: “The breathless girlboss narratives . . .
                [involved] a mediagenic woman, often young, conventionally
                pretty, thin, fashionable, connected, and white. . . .”
              </p>
              <p>
                Some female founders coming up at the time simply did not have
                the same fluency with the media—or the desire for fame—that the
                girlbosses did. Christeson, for instance, only created an
                Instagram profile six years ago, and has made a total of 17
                posts in that time. Looking back, though, she regrets not being
                more public. “I just didn’t use social media because I’m
                naturally a very private person,” she says. “But this was
                probably a mistake. At the time, there were rewards for founders
                who were really willing to put themselves out there. As a
                founder, I think it’s really irresponsible to decline
                opportunities that could help your brand.”
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- AD container 2 -->
        <div class="ad-container-2-container"></div>
      </div>
    </main>
    <footer class="footer">
      <nav class="footer-nav-link-container">
        <ul>
          <li><a class="footer-link-item" href="#">Help</a></li>
          <li><a class="footer-link-item" href="#">Status</a></li>
          <li><a class="footer-link-item" href="#">About</a></li>
          <li><a class="footer-link-item" href="#">Careers</a></li>
          <li><a class="footer-link-item" href="#">Blog</a></li>
          <li><a class="footer-link-item" href="#">Privacy</a></li>
          <li><a class="footer-link-item" href="#">Terms</a></li>
          <li><a class="footer-link-item" href="#">Text to speech</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
